= form_for Q.new do |f|
  %div
    = f.text_area :text, size: '80x3'
  %div
    Please translate this to
    = f.select :to, Q.to.options
    = f.submit 'Create'

%ul
  - @qs.each do |q|
    %li= link_to q.text, q_path(q)

= paginate @qs
