= form_for Q.new do |f|
  .top
    = f.text_area :text, size: '80x3'
  .bottom
    .to
      Please translate this into
      = f.select :to, Q.to.options
    = f.submit 'Create'

%ul.qs
  - @qs.each do |q|
    %li
      .text= link_to q.text, q_path(q)
      .to → #{q.to_text}
      .count= link_to "", q_path(q, anchor: 'disqus_thread')

= paginate @qs
