!!!
%html
  %head
    %title
      - if @q
        #{@q.text} | j2ee.co
      - else
        j2ee.co
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport")/
    %meta(content="yes" name="apple-mobile-web-app-capable")/
  %body
    %h1
      = link_to 'J2EE.CO', root_path
      .tagline
        WE TRANSLATE
    .menu
      = link_to '@j2eeco', 'https://twitter.com/j2eeco'
      |
      = link_to 'RSS', qs_rss_path, class: 'rss'

    - if flash[:notice]
      .notice
        = flash[:notice]

    .contents
      = yield

    .footer
      NEED GROWTH *IDEA* AND COOL *DESIGN*
      |
      = link_to 'CONTRIBUTE', 'https://github.com/jugyo/j2eeco'
      |
      = link_to 'ISSUES', 'https://github.com/jugyo/j2eeco/issues'

    = render 'shared/disqus_count'