!!!
%html
  %head
    %title Tc
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1
      = link_to 'j2ee.co', root_path
    .menu
      = link_to '@j2eeco', 'https://twitter.com/j2eeco'
      |
      = link_to 'rss', qs_rss_path, class: 'rss'

    .contents
      = yield

    = render 'shared/disqus_count'